<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
    
        <meta charset="utf-8">
    
        <title>Confirmar Bizum</title>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    
    <body>
    
        <div class="container">
        
            <br>
        
            <div class="row">
            
                <br>
            
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                
                    <h1 class="text-center">Confirmar Bizum</h1>
                
                    <div class="card-body">
                    
                        <p>Estás a punto de enviar <strong th:text="${cantidad + '€'}"></strong> a <strong th:text="${receptor.nombre} + ' ' + ${receptor.apellidos}"></strong>.</p>
                        
                        <form th:action="@{/cuentas/bizum/confirmar/{id}(id=${cuenta.id})}" method="POST">
                            
                            <input type="hidden" name="cantidad" th:value="${cantidad}">
                            
                            <input type="hidden" name="telefono" th:value="${receptor.telefono}">
                            
                            <div class="box-footer text-center">
                                
                                <button type="submit" class="btn btn-success btn-block">Confirmar</button>
                                
                                <a th:href="@{/cuentas/bizum/{id}(id=${cuenta.id})}" class="btn btn-danger btn-block">Cancelar</a>
                            
                            </div>
                        
                        </form>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
        
    </body>

</html>